.hbox {
	-fx-background-color: #303F9F;
	-fx-min-width: 200px;
	-fx-border-color: #BDBDBD;
	-fx-border-width: 0 0 1 0;
	-fx-padding: 2 5 2 5;
}

.toolbarLabel {
	-fx-text-fill: #448AFF;
}

.footer {
	-fx-background-color: #303F9F;
	-fx-text-fill: #FFFFFF;
}

.welcomeCenter {
	-fx-spacing: 50;
	-fx-background-color: #3F51B5;
	-fx-border-color: #BDBDBD;
	-fx-border-width: 0 0 1 0;
	-fx-padding: 10 5 10 5;
} 

.welcomeCenter2 {
	-fx-spacing: 50;
	-fx-background-color: #212121;
	-fx-border-color: #BDBDBD;
	-fx-border-width: 0 0 1 0;
	-fx-padding: 10 5 10 5;
} 

.welcomeText {
	-fx-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-fx-font-size: 18;
	-fx-text-alignment: center;
	-fx-text-fill: #FFFFFF;
	-fx-padding: 10;
	-fx-min-width:150;
	-fx-max-width:250;
}

.Centerlabel {
	-fx-background-color: #757575;
}

.Centerlabel .label {
	-fx-text-fill: #BDBDBD;
	-fx-min-width: 5px;

}

.welcomeNote {
	-fx-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-fx-font-size: 10;
	-fx-text-fill: #FFFFFF;
	-fx-padding: 0 5 1 5;
	-fx-min-width:150;
	-fx-max-width:250;
}

.listView {
	-fx-border-color: #BDBDBD;
	-fx-border-width: 2 2 2 2 ;
	-fx-border-radius: 5 5 5 5;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #3c5c7a;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-margin:5 5 5 5;
}

.list-cell:odd {
    -fx-background-color: #769abc;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.button {
	-fx-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-fx-text-fill: white;
	-fx-font-size: 16;
	-fx-border-color: BDBDBD;
	-fx-border-width: 1 1 1 1;
    -fx-padding: 10;
    -fx-background-color: #448AFF;
    -fx-background-radius: 4;
    -fx-border-radius: 5 5 5 5;
}

.button:hover {
	-fx-opacity: 0.8;
	-fx-font-size: 22;
	-fx-background-color: #448AFF;
	-fx-border-color: black;
	-fx-border-width: 2 2 2 2;
}

.CategoryLabel {
	-fx-font-size: 26;
    -fx-text-fill: white;
}

.root {
	-fx-background-color: #3F51B5;
}

.rightPane {
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
	-fx-font-size: 14;
	-fx-background-color: #bcc2be;
}

.valid {
  -fx-text-fill: green;
}

.invalid {
  -fx-text-fill: red;
}

* {
    -fx-my-menu-color: #448AFF;                 
    -fx-my-menu-color-highlighted: #3F51B5;     
    -fx-my-menu-font-color: #FFFFFF;             
    -fx-my-menu-font-color-highlighted: #FFFFFF; 
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/    
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/    
.menu-item {
    -fx-background-color: -fx-my-menu-color; 
}

/*** The item's label (not hovered / focused) ***/   
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/   
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}    

/*** The item itself (hovered / focused) ***/    
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted; 
}